{{form_start(filter)}}
<tr>
    <td>{{ form_widget(filter.key) }}</td>
    <td>{{ form_widget(filter.translated) }}</td>
    <td>
        <button type="submit" name="submit" class="btn btn-success btn-sm"><span class="fa fa-filter"></span> {{ 'filter'|trans }}</button>
        <a href="{{path('kematjaya_language_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><span class="fa fa-history"></span> {{ 'reset'|trans }}</a>
    </td>
</tr> 
{{form_end(filter)}}